.busket {
    margin-top: 200px;
}

.busket_tittles {
    display: flex;
}

.busket_tittle {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.busket_tittle .price {
    margin-left: 400px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    border: 0;
}

.busket_button-delete {
    margin-top: 120px;
    width: 254px;
    height: 68px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    background-color: #fff;
    border: 1px solid #6E9C9F;
    margin-left: calc(100% - 254px);
    cursor: pointer;
}

.busket_result{
    display: flex;
    margin-top: 150px;
    margin-left: calc(100% - (15px + 236px + 287px));
}

.busket_button-order {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 236px;
    height: 68px;
    background-color: #6E9C9F;
    border: 0;
    cursor: pointer;
}

.result {
    width: 287px;
    height: 68px;
    background: #F1EADC;
    margin-right: 15px;
}

.result p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-top: 16px;
    margin-left: 31px;
}

.busket_empty-tittle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 30px;
    color: #919191;
}

.item_container {
    display: flex;
    margin-top: 20px;
}

.items{
    margin-top: 30px;
}